div.bx-auth input.bx-auth-input {vertical-align:middle;}
div.bx-auth span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}

.system-auth-registration {
}
.system-auth-registration > p {
    margin: 1em 0;
}
.system-auth-registration > p > a {
    text-decoration: underline;
}
.system-auth-registration > form {
    overflow: hidden;
}
.system-auth-registration > form > div {
    width: 50%;
    margin-bottom: 15px;
    float: left;
    box-sizing: border-box;
}
.system-auth-registration > form > div.captcha {
    border: 1px solid #ccc;
    padding: 20px 15px 15px 15px;
    position: relative;
    margin-top: 15px;
    width: 49%;
    clear: both;
}
.system-auth-registration > form > div.captcha > h3 {
    position: absolute;
    top: -10px;
    font-weight: normal;
    font-size: 16px;
    background: #eee;
    padding: 0 10px;
    color: #999;
}
.system-auth-registration > form > div.captcha > span:first-of-type {
    margin-top: 10px;
}
.system-auth-registration > form > div:nth-of-type(even) {
    padding-left: 1%;
}
.system-auth-registration > form > div:nth-of-type(odd) {
    padding-right: 1%;
}
.system-auth-registration > form > div > span {
    display: block;
}
.system-auth-registration > form > div > span:first-child {
    margin-bottom: 5px;
}
.system-auth-registration > form > div > span > input[type="text"],
.system-auth-registration > form > div > span > input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
.system-auth-registration > form > div.submit {
    float: none;
    padding-left: 0;
}
.system-auth-registration > form > div.submit > input[type="submit"] {
    width: 30%;
    padding: 5px;
    background: #333;
    color: #fff;
    border: none;
    margin-top: 10px;
}
.system-auth-registration i {
    font-style: normal;
    font-weight: bold;
    color: #f00;
}